NEXT_PUBLIC_FLARE_RPC_URL=https://flare-api.flare.network/ext/C/rpc
XRPL_RPC_URL=https://s1.ripple.com:51234/
NEXT_PUBLIC_XRPL_RPC_URL=https://s1.ripple.com:51234/

NEXT_PUBLIC_MASTER_ACCOUNT_CONTROLLER=0x434936d47503353f06750Db1A444DBDC5F0AD37c
NEXT_PUBLIC_ASSET_MANAGER_FXRP=0x2a3Fe068cD92178554cabcf7c95ADf49B4B0B6A8
NEXT_PUBLIC_FLARE_CONTRACT_REGISTRY=0xaD67FE66660Fb8dFE9d6b1b4240d8650e30F6019

NEXT_PUBLIC_CARRY_FXRP_VAULT=0x8005380999F6024CBbAe0c82d616F6a801F437fB
NEXT_PUBLIC_CARRY_FXRP_USDT0_LP_VAULT=0x92613ec8058fbf6991f176a48cba2e2e7d8ba60c

NEXT_PUBLIC_DIRECT_MINT_EXECUTOR_URL=

NEXT_PUBLIC_XUMM_API_KEY=
XUMM_API_KEY=
XUMM_API_SECRET=
